POSTGRES_DB=IssuerDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

JWT_KEY=change_me_32_chars_minimum
JWT_ISSUER=DIVI

BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/replace_me
BLOCKCHAIN_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
SEPOLIA_PRIVATE_KEY=

PINATA_JWT=

CORS_ALLOWED_ORIGIN_DEV=http://localhost:3000
CORS_ALLOWED_ORIGIN_PROD=http://localhost:8080